@charset "utf-8";

/*==========================
common
==========================*/
:root {
    --contentWidth: 91.4%;
    --contentPadding: 4.2%;
    --contentPaddingVertical: 5vw;
}

html {
    font-size: 62.5%;
}

body {
    padding: var(--contentPaddingVertical)
             var(--contentPadding) 0
             var(--contentPadding);
    font-family:
        'Noto Sans JP',
        'Bagel Fat One',
        sans-serif;
    font-style: normal;
    color: #2d2d2d;
    background-color:  #FEFFDC;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.section-title {
    margin-bottom: 54px;
    text-align: left;
    font-family: 'Bagel Fat One';
    font-size: 2.6rem;
    line-height: 1.3;
    letter-spacing: 0.15em;
}

.c-btn {
    display: flex;
    justify-content: center;
    width: 200px;
    margin:2em auto ;
    padding: 2px 0;
    border: solid 5px #2d2d2d;
    font-family: 'Bagel Fat One';
    font-size: 2rem;
    letter-spacing: 0.04em;
}

.c-nav-link {
    font-family: Bagel Fat One,
                 sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: #2d2d2d;
    transition: opacity 0.3s;
}

.c-nav-link:hover {
    opacity: 0.7;
}

/* SNSアイコン用共通パーツ */
.c-sns-link {
    display: inline-flex;
    align-items: center;
    width: 24px;
    height: auto;
}

/* common pc */
@media screen and (min-width:769px) {
    .container {
        padding-left: var(--contentPadding);
        padding-right: var(--contentPadding);
        max-width: 1100px; 
        margin-left: auto;
        margin-right: auto;
        }

    .section-title {
        font-size: 3vw;
    }
    
    .topic {
        font-size: 6rem;
        letter-spacing: 0.15em;
        line-height: 1.7;
    }

}/* pc 769px end*/



/*==========================
header
==========================*/
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}

.header {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section {
    margin-bottom: 2em;/* ★ */
}

.site-title {
    width: 150px;
}

.header__topic,
.footer__topic {
    max-width: 150px;
    width: 100%;
    height: auto;
}

/* .nav初期表示 */
.nav {
    padding-top: var(--contentPaddingVertical);
    padding-right: var(--contentPadding);
    padding-left: var(--contentPadding);
    background: #ffffff;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.nav__header {
    margin-bottom: 20px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__btn--open {
    width: 36px;
}

/* .nav.active表示 */
.nav.active {
    transform: translateX(0);
}

.nav__topic {
    width: 150px;
    height: auto;
}

.nav__btn--close img {
    width: 42px;
    height: auto;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
}

.nav__item {
    margin-bottom: 44px;
}

.nav__sns-links {
    display: flex;
    gap: 15px;
}

.nav__link--instagram  img,
.nav__link--facebook img {
    width: 19px;
}

/* .header pc */
@media screen and (min-width:769px) {
    .site-title {
        max-width: 270px;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6vw;
    }

    .header__topic {
        min-width: 150px;
        margin-top: 3vw;
    }

    .nav {
        background: transparent;
        width: auto;
        height: auto;
        padding: 0;
        position: static;
        transform: translate(0);
    }
    
    .nav__btn,
    .nav__header {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        margin-top: 3vw;
        padding: 0;
    }

    .nav__list-primary {
        display: flex;
        flex-direction: row;
        margin-right: 3.6em;
        padding: 19px 32px;
        border:solid 2px #2d2d2d;
        background-color: #ffffff;
    }

    .nav__item {
        margin:0 39px 0 0;
    }

    .nav__item:last-child,
    .nav__list-primary .nav__item:last-child {
        margin-right:0;
    }

    .c-nav-link {
        font-size: 2rem;
    }

    .nav__link--instagram img, .nav__link--facebook img {
        width: 40px;
    }
}/* pc 769px */


/*==========================
main visual
==========================*/
.main-visual__slide img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border:solid 2px  #2d2d2d;
}

/* .header pc */
@media screen and (min-width:769px) {
    .main-visual__slide {
    margin-bottom: 16vw;
    }

    .main-visual__slide img {
    aspect-ratio: 3/1;
    }
}
/* pc 769px */


/*==========================
iroiro instagram
==========================*/
.section--iroiro-instagram {
    padding: 20px 15px;
    border:solid 7px  #F2676B;
}

.iroiro-instagram__images {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    list-style: none;
}

.iroiro-instagram__link {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.iroiro-instagram__text {
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
}

.iroiro-instagram__text--rankings {   
    top: 14%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: clamp(1rem,4vw,1.2rem);
}

.iroiro-instagram__text--exhibit {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 2em 0;
    background: rgba(255, 255, 255, 0.7);
}

.iroiro-instagram__img {
    display: block;
    width: 100%;
    aspect-ratio: 143/151;
    object-fit: cover;
}

.iroiro-instagram__btn--instagram {
    width: 18px;
    margin-right: 10px;
}

/* iroiro instagram pc */
@media screen and (min-width:769px) {
    .section--iroiro-instagram {
        position: relative;
        /* bodyのpaddingを打ち消して画面は字まで広げる */
        margin-left: calc(var(--contentPadding)*-1);
        margin-right: 0;
        margin-bottom: 30em;
    }

    .iroiro-instagram__images {
        grid-template-columns:repeat(3,1fr);
        /* 枠線の上に画像を重ねる */
        margin:0 14em -11em 3em;
        position: relative;
        z-index: 10;
    }

    .iroiro-instagram__text {
        font-size: clamp(1.4rem,2vw,2.4rem);
        font-weight: 600;
    }

    .iroiro-instagram__btn--follow {
        position: absolute;
        top: 1em;
        right: -4em;
        width: 20vw;
        margin: 2vw 27px 0 0;
        font-size: clamp(1.2rem,2vw,2.4rem);
        background-color: #FEFFDC;
    }
}
/* iroiro instagram pc 769px  end*/

/*==========================
osusume
==========================*/
.section--osusume {
    background-color: #6BADD9;
    margin-right: calc(var(--contentPadding)* -1);
    margin-bottom: 18vw;
    margin-left: calc(var(--contentPadding)* -1);
    padding: 60px var(--contentPadding);
}

.iroiro-osusume__contents {
    display: flex;
    flex-direction: column;
    position: relative;
}

.iroiro-osusume__image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    margin-bottom: 12px;
    border:solid 2px  #2d2d2d;
}

.iroiro-osusume__product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: 170px;
    height: 100px;
    margin: 0 auto 30px;
    font-size: 2.6em;
    font-weight: 700;
    text-align: center;
    border:solid 2px #2d2d2d;
    background-color: #ffffff;
}

.iroiro-osusume__description {
    margin-bottom: 30px;
    font-size: 1.4em;
    font-weight: 600;
}

.iroiro-osusume__btn {
    width: 170px;
    margin: 0 auto 2em;
}

/* 矢印の共通設定 */
.iroiro-osusume__arrow {
    position: absolute;
    top: 72%;
    background: none;
    border: none;
    font-size: 5em;
    cursor: pointer;z-index: 10;

}

/* 左矢印*/
.iroiro-osusume__arrow--prev {
    left: 47px;
}

/* 右矢印 */
 .iroiro-osusume__arrow--next{
    right: 47px;
} 

/* osusumem pc */
@media screen and (min-width:769px) {
    /* .section--osusume {
        /* 背景の幅を短く */
        /* margin-right:17em;
    } */ 

    .section--osusume .section-title {
        margin-bottom: 0;
    }

    .swiper-slide {
        display: flex;
        flex-direction: row-reverse;
    }

    .iroiro-osusume__contents swiper  {
        width: 90vw;
    }

    .iroiro-osusume__body {
        width: 50%;
    }

    .iroiro-osusume__item {
        position: relative;
        display: flex !important;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 40px;

    }

    .iroiro-osusume__product-name {
        position: relative;
        align-self: center;
        height: auto;
        aspect-ratio: 1.2/1;
        margin: 0 3vw 0 0;
        border:solid 4px #2d2d2d;
        font-size: clamp(2.6rem,3rem,4rem);
    }

    .iroiro-osusume__description {
        font-size: 2rem;
    }

    .iroiro-osusume__arrow {
        position: absolute;
        top: 40%; /* 商品名の高さ中央に合わせる */
        transform: translateY(-50%);
        z-index: 10;
        font-size: 6vw;
    }

    /* 左矢印（戻る） */
    .iroiro-osusume__arrow--prev {
        /* 商品名の左側に配置 */
        left: 3%; 
    }

    /* 右矢印（次へ） */
    .iroiro-osusume__arrow--next {
        /* 商品名の右側に配置 */
        right: 63%;
    }
}
/* osusume pc 769px  end*/

/*==========================
about
==========================*/
.section--about {
    margin-bottom: 100px;
    padding: 20px 15px;
    border:solid 7px  #22AD77;
}

.about__concept-list {
    display: flex;
    justify-content: center;
    position: relative;
    width: 246px;
    height: 130px;
    margin:0 auto 6em;
    text-align: center;
    list-style: none;
}

.about__concept-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 84px;
    border:solid 2px #2d2d2d;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color:rgba(255, 255, 255, 0.7) ;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.about__concept-item--blue {
    color: #1B8599;
    left: 0;
    z-index: 1;
}

.about__concept-item--yellow {
    color: #F3B100;
    left: 52px;
    top: 45px;
    z-index: 2;
}

.about__concept-item--red {
    color: #F45024;
    left: 106px;
    z-index: 3;
}

.about__concept-item--green {
    color: #1C9730;
    left: 162px;
    top: 45px;
    z-index: 4;
}

.about__concept-text {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.15em;
}

/* about pc */
@media screen and (min-width:769px) {
    .section--about {
        position: relative;
    }

    .section--about .section-title {
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .about__concept-list {
        margin-bottom: 26vw;
        flex-shrink: 0;
        width: 500px;
    }

    .about__flex-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        width: 100%;
        height: 323px;
        max-width: 1100px;
        margin: 0 auto 30px;
    }

    .about__concept-item {
        width: 188px;
        font-size: clamp(2rem,3vw,3rem);
        border:solid 3px #2d2d2d;
    }

    .about__concept-item--blue {
        left: -31px;
    }

    .about__concept-item--yellow {
        left: 84px;
        top: 108px;
    }

    .about__concept-item--red {
        left: 208px;
    }

    .about__concept-item--green {
        left: 337px;
        top: 108px;
    }
    
    .about__concept-text {
        font-size: clamp(1.8rem,2vw,2.4rem);
    }

    .about__btn {
        position: absolute;
        right: -3em;
        bottom: 4vw;
        width: 15vw;
        background-color: #FEFFDC;
        font-size: clamp(1.2rem,2vw,2.4rem);
    }

}

/* about pc 769px  end*/

/*==========================
news
==========================*/
.section--news {
    margin-bottom: 8em;
}

.section-title--news {
    display: flex;
    justify-content: center;
}

.news__list {
    padding: 2em 4em;
    border-top:solid 1px #2d2d2d;
    border-bottom:solid 1px #2d2d2d;
}

.news__item {
    margin-bottom: 15px;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news__link {
    font-size: 1.2rem;
    font-weight: 700;
}

/* news pc */
@media screen and (min-width:769px) {
    .news__list {
        display: grid;
        justify-content: start;
        /* bodyのpaddingを打ち消して画面は字まで広げる */
        margin-left: calc(var(--contentPadding)*-1);
        margin-right: 0;
        border-top:solid 2px #2d2d2d;
        border-bottom:solid 2px #2d2d2d;
    }
    
    .news__link {
        padding: 1em 2em;
        font-size: 2rem;
    }
}
/* news pc 769px  end*/

/*==========================
footer
==========================*/
.footer {
     background-color: #ffffff;
    margin-left: calc(var(--contentPadding)* -1);
    margin-right: calc(var(--contentPadding)* -1);
    padding: 60px var(--contentPadding);
}

.footer__nav {
    margin-bottom: 6em;
}

.footer__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 16px;
    list-style: none;
}

.footer__item--sns {
    display: flex;
    align-items: center;
    gap: 12px;
    width: auto;
}

.copy {
    display: flex;
    flex-direction: row-reverse;
}

/* ページトップボタン */
.c-pagetop-btn {
    position: fixed;
    right: -80px; /* 最初は画面の外 */
    bottom: 50px; /* 位置は下の方が見やすいので調整 */
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 80px;
    background-color: #FEFFDC; 
    color: #2d2d2d;
    border: none;
    border-radius: 10px 0 0 10px; 
    border:solid 2px #2d2d2d;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

/* 表示された時の動き */
.c-pagetop-btn.is-show {
    opacity: 1;
    visibility: visible;
    right: 0; 
}

/* 山型アイコン */
.c-pagetop-btn__icon {
    display: block;
    width: 12px;
    height: 12px;
    border-top: solid 2px #2d2d2d;
    border-left: solid 2px #2d2d2d;
    transform: rotate(45deg);
    margin-bottom: 8px; 
    margin-top: 10px;
}

.c-pagetop-btn__text {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}

/* footer pc */
@media screen and (min-width:769px) {
    .footer__list{
        display: flex;
    }

}
/* footer pc 769px  end*/
