@charset "utf-8";

/*==========================
common
==========================*/
html {
    font-size: 62.5%;
}

body {
    font-family:
        'Noto Sans JP',
        Arial,
        sans-serif;
    font-style: normal;
    color: #2d2d2d;
    background-color:  #FEFFDC;
    line-height: 1.5;
}


img {
    max-width: 100%;
    height: auto;
}

.btn:hover {
    opacity: 0.5;
}

/*==========================
header
==========================*/
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}